.banner{
    background-image: url("../../../images/banner/2.jpg"),
    linear-gradient(rgba(37, 11, 0, 0.5), rgba(44, 0, 0, 0.5));

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    width: 100%;
    background-blend-mode: overlay;
}

/* responsiveness banner */
@media only screen and (max-width: 768px) {
    .banner{
        height: 350px;
    }
    .banner h1, p{
        margin: 20px 0 0 10px;
    }
}